<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<h1>joinForm</h1>
	<form action="joinReg" method="post">
		<table border="">
			<tr>
				<td>Id</td>
				<td><input type="text" name="id" /></td>
			</tr>
			<tr>
				<td>Pw</td>
				<td><input type="password" name="pw" /></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>age</td>
				<td><input type="text" name="age" /></td>
			</tr>
			<tr>
				<td>address</td>
				<td><input type="text" name="address" /></td>
			</tr>
			<tr>
				<td>tel</td>
				<td><input type="text" name="tel" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				<input type="submit" value="입력" />
			</td>
			</tr>
		</table>
	</form>
</body>
</html>