.menu{
    width: 400px;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    
    
}
ul li a{
    padding:10px;
}


ul li:nth-child(1):hover{
    background-color: green;
    font-weight: bold;
}
ul li:nth-child(2):hover{
    background-color: black;
    font-weight: bold;
}
ul li:nth-child(3):hover{
    background-color: pink;
    font-weight: bold;
}
.box{
    width: 400px;
    height: 300px;
    border: 1px solid black;
}